# ZSH
# ===

# Ignore plugins
/dist/zsh/zgen

# Ignore tmp files
/dist/zsh/tmp
!/dist/zsh/tmp/.keep


# Vim
# ===

# Ignore plugins
/dist/vim/autoload/plug.vim
/dist/vim/bundle/*
!/dist/vim/bundle/.keep

# Ignore spell folder
/dist/vim/spell

# Ignore tmp files (keep subfolders)
/dist/vim/tmp/*
!/dist/vim/tmp/backup/
/dist/vim/tmp/backup/*
!/dist/vim/tmp/backup/.keep
!/dist/vim/tmp/undo/
/dist/vim/tmp/undo/*
!/dist/vim/tmp/undo/.keep


# Newsboat
# ========

/dist/newsboat/*
!/dist/newsboat/config
!/dist/newsboat/urls


# Other
# =====

/notes
